/* .box_container {
    width: 100vw;
    height: 100vw;
    position: absolute;
    margin: auto;
    left: 100px;
    top: 500px;
}

.box_near {
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: pink;
}

.display_none {
    background-color: transparent;
} */

.container {
    width: 100px;
    height: 100px;
    background-color: #f9c4c4;
    position: absolute;
    /* relative 부모요소는 body가 되어 움직인다. */
    top: 300;
    left: 300;
}

.box {
    width: 70px;
    height: 70px;
    margin: 15px;
    background-color: transparent;
}

.busted {
    background-color: rgb(69, 28, 134);
}
