
.main-top {
    text-align: right;
    padding: 0 20px;
    background-color: #ffefef;
}

.main-list {
    background-color: #fffcfc;
    max-height: 400px;  /* index 페이지가 세로로 길어지면 세로길이도 수정해야함.. */
}

.main-list > p{
    color: #B22424;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
}

.btn-middle {
    width: 130px;
    height: 40px;
    background-color: #FFADAD;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-middle:hover {
    background-color: #FF7979;
}

.item {
    display: flex;
    justify-content: center;
}


.list-content {
    background-color: #FFECEC;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    
}

.list-content:hover {
    transform: scale(1.1);
}

.content-img {
    border: 5px solid #FFC9C9;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.content-img:hover {
    border: 5px solid #FF7979;
}

.img-insert {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-content {
    background-color: #fff;
    color: #000;
    width: 40px;
    height: 20px;
    text-align: center;
    margin-left: 90px;
}

.content-btn {
    margin: 100px 10px 0 10px;
}