.box_near {
    background-color: brown;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: pink;
    width: 100px;
    height: 100px;
}

.hidden {
    background-color: transparent;
}