@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* 폰트 변경 */
body {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* * {
    font-size: 40px;
} */
/* 전체선택자 *{}이 html인 최상위 요소가 된다. */



/* 키워드로 폰트 크기를 조절한다. */
.p-size-xx-small {
    font-size: xx-small;
}

.p-size-midium {
    font-size: medium;
}

.p-size-xx-large {
    font-size: xx-large;
}

/* px 단위로 폰트크기 조절(고정크기) */
.p-size-px {
    font-size: 100px;
}

/* em,rem 단위로 폰트크기 조절(비율 크기) */

.p-size-em {
    font-size: 2em; 
    /* 부모 요소 기준 */
}

.p-size-rem {
    font-size: 2rem;
    /* 최상위 요소 기준 */
}

/* 글자 굵기 조절 */
.p-weight-100 {
    font-weight: 100;
}

.p-weight-400 {
    font-weight: 400;
}

.p-weight-900 {
    font-weight: 900;
}

