div, span {
    margin: 10px;
    border: 2px solid #000000;
    padding: 5px;
    width: 200px;
    height: 150px;
}

.div-1 {
    /* 테두리 + 패딩 + 콘텐츠 영역으로 요소의 크기(width, height)를 결정
        기본적인 방법 (box-sizing을 적지않으면 content-box로 설정되니 꼭 설정하기)
            보통 처음시작할때 !전체 선택자로 border-box 입력을 추천! */
    box-sizing: border-box;
}

.div-2 {
    /* 콘텐츠 영역에만 요소의 크기(width, height)를 결정 */
    box-sizing: content-box;
}
