.div-1 {
    /* 테두리 속성 지정 */
    border-style: solid;

    /* 테두리 색상 지정 */
    border-color: #ff0000;

    /* 테두리 굵기 설정
        > 1개 지정 : 4방향 테두리
        > 2개 지정 : 첫번째 값은 위아래,두번째 값은 좌우
        > 3개 지정 : 위 > 좌우 > 아래 순
        > 4개 지정 : 위 > 우 >아래 >좌 */
    border-width: 5px 15px 15px 4px;

    /* 테두리 모서리를 둥글게 설정 */
    border-radius: 15px;

    /* >각 꼭지점을 다르게 지정하고 싶다면 아래의 속성명을 지정 */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}



.div-2 {
    /* 테두리의 속성,두께,색상을 지정
    >각 면을 따로 지정하고 싶다면 아래 속성명 사용
        border-top
        border-left
        border-right
        border-bottom
    */
    border: 3px solid #ff0000;
    border-radius: 10px;
}

div {
    margin: 5px;
}
