/* display 속성 : HTML요소를 어떻게 표시할지를 지정  */

/* none :
    요소를 보이지 않게 설정
    영역도 차지하지 않는다. */
.none {
    display: none;
}

/* block :
    기본적으로 가로 영역을 다채움. block 요소 다음에 등장하는 태그는 줄바꿈이 된것처럼 보임
    width,height 속성을 저장 할 수 있음(속성을 줄려면 블록레벨요소로 바꿔야 한다.)
    div, p, h 태그 등이 해당 */
.block {
    display: block;
}

/* inline :
    컨텐츠만큼 영역을 차지
    block 과 달리 줄 바꿈이 되지 않고,
    width와 height를 지정 할 수 없음 */
.inline {
    display: inline;
}

/* inline-block :
    block 과 inline의 중간 형태로 요소는 inline인데 block처럼 표시한다.
    inline 처럼 컨텐츠만큼 영역을 차지하여 가로를 배치되지만.
    block 처럼 내부 속성인 width, height등과 같은 값을 변경 가능 */
.inline-block {
    display: inline-block;
    width: 100px;
    height: 20px;
}