/* 연결 선택자(Combination Selector)
    공백 , >, +, ~ 등 결합자(Combinator)를 이용해 특정요소를 선택
*/


/* 후손 결합자
    공백문자를 이용해 선택자를 조합
    상위요소의 영역하에 있는 특정 선택자에 스타일을 적용
*/
/* header span {
    color: red;
} */

header span {
    color: red;
}

/* 자식 결합자
    > 기호를 이용하여 선택자를 조합
    부모요소 영역에서 직속 자식요소로 한정해서 선택후 스타일 적용
 */
 header > span {
    color: blue;
 }

 /* 인접 형제 결합자
    + 기호를 이용해서 선택자를 조합
    첫번째 선택자 요소 바로 뒤에 나오는 형제 요소에 스타일을 적용
 */
 header + span {
    color: green;
 }

 /* 일반 형제 결합자
    ~ 기호를 이용하여 선택자를 조합
    첫번째 선택자 요소 이후의 모든 형제의 요소에 스타일을 적용
    (첫번째 선택자 요소 아래의 형제만 적용,위에 있는건 안됌)
 */
 header ~ span {
    color: blueviolet;
 }


    