/* 
가상요소
    선택자에 추가하는 키워드
    선택한 요소의 지정된 부분에 스타일 적용
    위에서 아래로 인식되는 css가 적용이 되지 않는다.
    (가장 위에 적은게 마지막에 인식됨)
*/


/* 특정요소의 컨텐츠 앞에 다른요소를 삽입 */
.required::before {
    content: '*'; 
    color: #ff3000;
}


/* 특정요소의 컨텐츠 뒤에 다른요소를 삽입 */
.required::after {
    content: '*'; 
    color: #ff3000;
}

/* 특정요소의 첫글자를 선택 */
p::first-letter {
    color: #ff3000;
    font-size: 50px;
    font-weight: 900;
}

/* 특정요소의 첫문장을 선택 */
p::first-line {
    color: green;
    font-size: large;
}


