div {
    width: 100px;
    height: 100px;
}

@media (max-width: 500px) {
    div {
        background-color: black;
    }
}

@media (min-width: 501px) and (max-width: 1000px) {
    div {
        background-color: #ff3000;
    }
}

@media (min-width: 1001px) {
    div {
        background-color: green;
    }
}