/* * {
    box-sizing: border-box;
}

.div-1 {
    background-color: #000;
    padding: 20px;
    margin: 0;
    
}

.div-1-title {
    color: #fff;
    padding: 20px 30px;
}

.div-1-text {
    color: orange;
    font-size: 20px;
    padding: 20px 30px;
}


.div-2 {
    color: #fff;
    background-color: #000;
    padding: 1px
}

h4 {
    padding: 5px 15px;
}

.div-3 {
    border: 1px solid #000;
    line-height: 3em;
    padding: 20px;
}

.div-4 {
    border: 1px solid #000;
    line-height: 2em;
}

h2{
    color: red;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
}

.div-3-text{
    font-size: 1.5em;
    text-align: center;
    font-weight: 900;
}


.text1 {
    color: blue;
}

.text2 {
    font-size: 0.7em;
} */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 700px;
    margin: 5px;
}

.header {
    background-color: #151515;
    padding: 20px;
}

.header > h1 {
    color: #fff;
    margin-bottom: 30px;
    /*= margin: 0px 0px 30px 0px */

}

.header-info {
    color: #ff7f1d;
}

.main {
    margin-top: 10px;
}

.main-check {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.gray-border {
    border: 1px solid #9c9c9c;
    text-align: center;
}

h2 {
    color: #ff0000;
}

h2, .main-info, .small-text {
    margin: 20px;
}


.main-info {
    font-weight: 900;
    line-height: 2rem;
}

.accent-blue {
    color: #0000ff;
}

.small-text {
    font-size: 0.8rem;
}