@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Gugi", sans-serif;
    font-style: normal;
}

html {
    font-size: 70%;
    
}

a {
    color: #fff;
}

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    /* overflow: hidden; */
}

.header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 4rem;
    color: #fff;
    text-shadow: 3px 3px 1px  #b74b4b;
    font-weight:600;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active {
    color: #b74b4b;
    border-bottom: 3px solid#b74b4b;
}

@media(max-width:995px){
    nav {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid#b74b4b;
        border-bottom: 3px solid#b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #000;
    user-select: none;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.5;
}

span{
    color: #b74b4b;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content > p {
    font-size: 1.7rem;
    padding-top: 10px;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 35vw;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 25px solid#b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid#b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #b74b4b;
}

.social-icon a:hover {
    color: #000;
    transform: scale(1.3) translateY(0.5);
    background-color: #b74b4b;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #000;
    color: #b74b4b;
    font-size: 1.6rem;
    border: 2px solid#b74b4b;
    border-radius: 4rem;
    letter-spacing: 0.3rem;
    transition: 0.3 ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: #000;
    box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: "Web Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: #000;
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    border-left: 3px solid#000;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to{
        border-left: 3px solid#b74b4b;
    }
}

@keyframes words {
    0%, 25% {
        content:"Web Developer"
    }
    26%, 50% {
        content:"Software Developer"
    }
    51%, 75% {
        content:"2D Artist"
    }
    76%, 100% {
        content:"Home Protecter"
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.4rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;

    }
}