* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns:200px 1fr;
    min-height: 100vh;
}

.sidebar {
    background-color: blueviolet;
}

.sidebar-sticky {
    position: sticky;
}


h1 {
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

.sidebar-menu {
    list-style-type: none;
    padding-bottom: 3rem;
    
}

a {
    text-decoration: none;
    color: #fff;
}

.sidebar-menu >li {
    padding: 0.5rem 1.5rem;
}

.sidebar-menu > :nth-child(1) {
    background-color: rgb(68, 13, 121);
    color: #fff;
    font-weight: 900;
}

.sidebar-menu > :not(:nth-child(1)):hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.8s;
}

.main {
    background-color: rgb(230, 230, 230);
}

.main-search {
    height: 50px;
}

.main-search > form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

#search {
    width: 80%;
    height: 30px;
}

.btn-search {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blueviolet;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    font-weight: 900;
    line-height: 40px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(./img/main_title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: #fff;
    font-size: 4rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1rem;
    gap: 10px;
    
}

/* main-content 의 박스들 사이즈 키우는 방법?? */
.card {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px #d4d4d4;
    
}

.card-img {
    padding-top: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title {
    margin: 10px 0;
}

.btn-top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    border: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-weight: 900;
    line-height: 40px;
}

