@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > .logo {
    margin: 1rem 0;
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 4px 4px 1px rgb(161, 172, 160);
}

.search {
    width: 900px;
    height: 30px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #f3f3f3;
    padding-left: 10px;
}

.search:focus {
    outline: none;
}

.icon_search {
    font-size: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 1rem;
    gap: 1rem;
}

.card {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 1px 1px 3px 1px #c9c9c9;
    height: 400px;
}

.main_img {
    padding-top: 100%;           
    background-size: cover;
    background-repeat: no-repeat;
}

.card > p {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}