@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header > .logo {
    margin: 1rem 0;
    font-size: 60px;
    cursor: pointer;
    transition: 0.5s ease;
    text-shadow: 4px 4px 1px rgb(161, 172, 160);
}

.search {
    width: 900px;
    height: 30px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #f3f3f3;
    padding-left: 10px;
}

.search:focus {
    outline: none;
}

.icon_search {
    font-size: 20px;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title > h2 {
    font-size: 3rem;
    font-weight: 500;
}

.board_title > p {
    margin-top: 50px;
    font-size: 1.4rem;
}

.board_title {
    margin-bottom: 30px;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center;
}

.bt_wrap a:first-child {
margin-left: 0;
}

.bt_wrap a.on {
    background-color: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
}

.board_list > div.top {
    border-bottom: 1px solid #ddd;
}

.board_list > div:last-child {
    border-bottom: 2px solid #000;
}

.board_list > div > div {
    display: inline-block;
    text-align: center;
    padding: 15px 0;
}

.board_list > div.top > div{
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    /* font-size: 10px; */
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    /* border-left: 0; */
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
}

.board_page a.bt {
    font-size: 1.2rem;
    padding-top: 10px;
}

.board_page a.num {
    font-size: 1.4rem;
}

.board_page a.num:hover {
    background-color: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}


