.box {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 900;
    height: 50px;
}

.box_title {
    background-color: #7EABFF;
    color: #fff;
    border-radius: 40px 0 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_content {
    background-color: #fff;
    color: #000;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    margin-top: 50px;
}